<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Products</title>
</head>
<body>
 <h1>Here is your all the Products</h1>

 <table border="1">

     <tr>
         <th>Product Name</th>
         <th>Product Price</th>
         <th>Product Category</th>
     </tr>


     <tr th:each="product: ${alltheproducts}">

         <td th:text="${product.name}"></td>
         <td th:text="${product.price}"></td>
         <td th:text="${product.category}"></td>

     </tr>

 </table>

</body>
</html>