<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Thymleaf Product Class</h1>

    <table border="1">

        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Category</th>
        </tr>


        <tr th:each="product: ${products}">

          <td th:text="${product.name}"></td>
          <td th:text="${product.price}"></td>
          <td th:text="${product.category}"></td>

        </tr>

    </table>

</body>
</html>